@model IVRControlPanel.Models.Category
@{
    ViewBag.Title = "Create New Category";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="box grid_12">
    <header>
        <div class="inner">
            <div class="left title">
                <h1>
                    Create New Category
                </h1>
            </div>
            <div class="right">
                <a href="#" class="close">close</a>
            </div>
        </div>
    </header>
    <div class="box-content">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
                                           
            <div class="field fullwidth">
                <label for="text-input-normal">
                    Category Name
                </label>
                @Html.EditorFor(model => model.CategoryName, new { @id = "text-input-normal" })
                @Html.ValidationMessageFor(model => model.CategoryName)
            </div>

            <div class="field fullwidth">
                <label>
                    Select Category:
                </label>
                @Html.DropDownList("ParentCategoryID", ViewBag.ParentCategoryID as SelectList, new { @class = "chosen" })
                @Html.ValidationMessageFor(model => model.ParentCategoryID)
            </div>

            <footer class="pane">
                <input type="submit" class="bt blue" value="Create" />
            </footer>
        }
    </div>
</div>
<header class="grid_12 head">
    @Html.ActionLink("Back to List", "Index")
</header>